[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
h5py = ">=2.7.1"
keras = ">=2.1.5"
scipy = ">=1.0.1"
scikit-learn = "*"
speechpy = ">=2.2"
pandas = ">=0.24.0"


[dev-packages]

[requires]
python_version = "3.6"
